@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

.header .container {
  background-color: #e6e6e6;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}
.nav-list a {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: all 0.2s ease;
}
.nav-list a:hover {
  background-color: orange;
  color: #eee;
}
.section-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.main .container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.main a {
  color: orange;
  transition: all 0.2s ease;
}
.main a:hover {
  color: orangered;
}
.left {
  background-color: #2c323d;
  padding: 10px;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts ul li {
  padding: 10px;
}
.section-title {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 20px solid orange;
  padding-left: 30px;
}
.left img {
  width: 50%;
  height: auto;
  border-radius: 24px;
}
.right {
  padding: 10px;
}
.right section {
  padding: 20px;
}
.aboutme p {
  max-width: 750px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.info h1,
.info p {
  margin: 0;
  padding: 0;
}
.projects-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects-inner a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* @media screen and (min-width: 940px) {
  .projects-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
} */

.projects-inner img {
  max-width: 80%;
}
.projects-inner h3 {
  margin: 0;
  padding: 0;
}
.project img {
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.project img:hover {
  transform: scale(1.05);
}
.footer .container {
  background-color: #333;
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.footer img {
  width: 90px;
}
